<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="com.fswire.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="com.fswire.streaming.client.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <com.fswire.Settings>
            <setting name="ProtocolVersion" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ClientName" serializeAs="String">
                <value>fswire-api-client</value>
            </setting>
            <setting name="VersionNumber" serializeAs="String">
                <value>0.0.1</value>
            </setting>
            <setting name="StreamingHostName" serializeAs="String">
                <value>www.fswire.com</value>
            </setting>
            <setting name="ApiRoot" serializeAs="String">
                <value>api/v1</value>
            </setting>
        </com.fswire.Settings>
        <com.fswire.streaming.client.Settings>
            <setting name="ProtocolVersion" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ClientName" serializeAs="String">
                <value>fswire-streaming-api-client</value>
            </setting>
            <setting name="VersionNumber" serializeAs="String">
                <value>0.0.1</value>
            </setting>
        </com.fswire.streaming.client.Settings>
    </applicationSettings>
</configuration>